# If present, settings in the DEFAULT section override the built-in defaults.
[DEFAULT]
# mode = report
# interval = 600
# delete_policy = age
# gigabytes_free = None
# percent_free = 2
# watched_first = no
# watched_offset = 180

# Device-specific settings are applied when that specific device ID is passed
# to the script with -d/--device-id. They are not applied in discover mode,
# even when that device is the one discovered.
[13243546]
mode = maintain
percent-free = 5
delete_policy = category
watched_first = yes

[14253647]
mode = maintain
gigabytes_free = 20
delete_policy = age
watched_first = no
